body {
  margin: 0%;
  padding: 0%;
}
#heading {
  text-align: center;
  color: blue;
  background-color: black;
  word-spacing: 7px;
  letter-spacing: 4px;
  margin: 0;
  padding: 10px;
  font-weight: 900;
  text-transform: uppercase;
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.d_down {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 5px 17px 5px;
  word-spacing: 5px;
  letter-spacing: 4px;
  /* margin-bottom: 20px; */
}

#list {
  display: none;
  padding-bottom: 100px !important   ;
}
